.card {
  height: rem(440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  font-family: var(--bodyFont);
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.title {
  font-family: var(--subheadingFont);
  font-weight: 900;
  color: var(--mainDarkPurple);
  line-height: 1.2;
  font-size: rem(32px);
  margin-top: var(--mantine-spacing-xs);
}

.category {
  color: var(--mainDarkPurple);
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--bodyFont);
}

@media screen and (max-width: 880px) {
  .card {
    height: rem(300px);
  }

  .title {
    font-size: rem(22px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: rem(250px);
  }
}

@media screen and (max-width: 639px) {
  .card {
    height: rem(200px);
  }
}
