@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainLightPink: #e8b0a5;
  --mainDarkPurple: #31263e;
  --lightPink: #c38d9e;
  --darkPink: #9e5e69;
  --darkPurple: #4d2c3d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
